<table class='table'>
  <thead>
    <tr>
      <th>アイコン画像</th>
      <th>ユーザー名</th>
      <th colspan="3"></th>
    </tr>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 30, 30, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>