<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
    <h3 class="heading">ユーザー</h3>
      <%= render 'info', user: current_user %>
      <h3 class="mt-3 heading">新しい投稿</h3>
      <%= render 'posts/form', post: @post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3 class="list">ユーザー一覧</h3>
      <%= render 'index',users: @users %>
    </div>
  </div>
</div>