<div class='container'>
  <div class='row'>
    <div class="col-sm-12">
      <h4 class="about">このサイトについて</h4>
      <p class="text-center">
        ユーザーによるリアルタイムの口コミを掲載。<br>
        話題の新商品、期間限定商品の情報もいち早くチェック。<br>
        あなたも是非率直な感想を投稿して、他のユーザーと情報を共有してみましょう。<br>
        <br>
        <br>
        <br>
        このサイトの写真はすべて
        <u><%= link_to "ぱくたそ", 'https://www.pakutaso.com/' %></u>
        の素材を使用させていただいております。
      </p>
    </div>
  </div>
</div>