<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>投稿の編集</h1>
    	<%= render 'layouts/errors', obj: @post %>
  		<%= render 'form', post: @post %>
  		<%= link_to 'Show', post_path(@post), class: "post_#{@post.id}" %> |
  		<%= link_to 'Back', posts_path, class: "back" %>
  </div>
</div>