// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}

.comment:before,
.comment:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.comment:before {
  left: 0;
}

.comment:after {
  right: 0;
}