// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  padding: 1rem 2rem;
  border-bottom: 2px dashed #000;
  background: #D0F0D0;
}